[Desktop Entry]
Name=Monitor de Temperatura
Comment=Monitoritza la temperatura i CPU del sistema
Exec=bash -c "cd '/home/aleixsapa/Documents/temperatura ordinador/revisor-de-temperatura' && ./Inicia Monitor.sh"
Icon=/home/aleixsapa/Documents/temperatura ordinador/revisor-de-temperatura/icon.svg
Terminal=true
Type=Application
Categories=System;Monitor;
